.vs/
*.user
*/x64/
x64/
bin/
lib/
packages/
build/
out/
vcpkg_installed/
thirdparty/
src/kuku/internal/config.h
**/compile_commands.json
**/install_manifest.txt
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/obj/
*.exe
.vscode/settings.json
.vscode/launch.json
*.nupkg
!dotnet/nuget/*.nuspec.in
dotnet/nuget/*.nuspec
!dotnet/src/KukuNet.csproj.in
dotnet/src/KukuNet.csproj
!dotnet/tests/KukuNetTests.csproj.in
dotnet/tests/KukuNetTests.csproj
!dotnet/examples/KukuNetExamples.csproj.in
dotnet/examples/KukuNetExamples.csproj
dotnet/src/Properties/launchSettings.json
dotnet/examples/Properties/launchSettings.json
