.vs/
*.user
*/x64/
x64/
src/obj/
bin/
lib/
packages/
src/cmake/KukuConfig.cmake
src/cmake/KukuConfigVersion.cmake
src/cmake/KukuTargets.cmake
src/kuku/config.h
**/compile_commands.json
**/install_manifest.txt
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
*/obj/*
dotnet/kukudotnet/obj
dotnet/kukunative/Debug
dotnet/kukunative/Release
dotnet/examples/obj
dotnet/examples/Properties/launchSettings.json
.vscode/settings.json
/dotnet/kukudotnet/Properties/launchSettings.json
