.vs/
*.user
*/x64/
x64/
src/obj/
bin/
lib/
packages/
cmake/
!cmake/KukuConfig.cmake.in
src/kuku/internal/config.h
**/compile_commands.json
**/install_manifest.txt
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
*/obj/*
dotnet/tests/obj/*
dotnet/src/obj
dotnet/src/Properties/launchSettings.json
dotnet/examples/obj
dotnet/examples/Properties/launchSettings.json
.vscode/settings.json
thirdparty/googletest/
!thirdparty/googletest/CMakeLists.txt
*.nupkg
